* {
      box-sizing: border-box;
      
    }

.container {
      display: flex;
      min-height: 100vh;
    }

.form-section {
      flex: 1;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
.form-section h2 {
      margin-bottom: 20px;
      font-size: 32px;
      color: #333;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
    }

    .form-group input {
      width: 100%;
      padding: 12px;
      border: 1px solid #695f5f;
      border-radius: 4px;
    }

    .form-group button {
      width: 100%;
      padding: 12px;
      background-color: #607c7c;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    .form-group button:hover {
      background-color: #45a049;
    }

    .image-section {
      flex: 1;
      background: url('../../public/YTR.avif');
    }

    .image-section_second {
      flex: 1;
      background: url('../../public/admin.avif');
    }


    @media (max-width: 770px) {
      .container {
        flex-direction: column;

      }

      .image-section {
        height: 300px;
        
      }
      .image-section_second {
        height: 300px;
      }

    }
    body {
      overflow-x: hidden;
    }

    /* Sidebar styles */
    .sidebar {
      height: 100vh;
      width: 200px;
      position:fixed;
      background-color: #343a40;
      padding-top: 50px;
    }

    .sidebar a {
      color: rgb(125, 168, 182);
      display: block;
      padding: 15px;
      text-decoration: none;
    }

    .sidebar a:hover {
      background-color: #495057;
    }

    /* Main content */
    .content {
      height: 100vh;
      justify-content: center;
      align-items: center;
    }

    /* Navbar override */
    .navbar {
      z-index: 1031;
    }

    @media (max-width: 768px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .content {
        margin-left: 0;
      }
    }
    .custom-header-height {
  height: 100px;
}